# Jupyter Dash

## Install Jupyter Dash

In [1]:
# !pip install jupyter-dash

## Import libraries

In [2]:
from jupyter_dash import JupyterDash
from dash import dcc, html, Input, Output, State

In [3]:
import dash_bootstrap_components as dbc

In [4]:
import pandas as pd

In [5]:
import plotly.express as px

## Load data

In [6]:
df = pd.read_csv('../ch4_layout/world_happiness.csv')

In [7]:
df.head()

     country                     region  happiness_rank  happiness_score  year
0  Australia  Australia and New Zealand              10            7.284  2015
1  Australia  Australia and New Zealand               9            7.313  2016
2  Australia  Australia and New Zealand              10            7.284  2017
3  Australia  Australia and New Zealand              10            7.272  2018
4  Australia  Australia and New Zealand              11            7.228  2019

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          852 non-null    object
 1   region           852 non-null    object
 2   happiness_rank   852 non-null    int64
 3   happiness_score  852 non-null    float64
 4   year             852 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 33.4+ KB

In [11]:
df.describe()

       happiness_rank  happiness_score         year
count      852.000000       852.000000   852.000000
mean        75.384977         5.468441  2017.500000
std         44.604934         1.108810     1.708828
min          0.000000         2.566900  2015.000000
25%         37.000000         4.604000  2016.000000
50%         74.000000         5.485500  2017.500000
75%        114.000000         6.283700  2019.000000
max        158.000000         7.808700  2020.000000

## Create app

In [12]:
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

app.layout = html.Div([
    dbc.Row([
        dbc.Col([
            html.H1('World Happiness Report'),
            html.P('This dashboard shows the happiness score of countries around the world.'),
            html.P('The data is from the World Happiness Report 2021.')])

    ]),
    ])

## Run app - 3 available options, external, inline, or jupyterlab

In [13]:
app.run_server(mode='external')

Dash is running on http://127.0.0.1:8050/

Dash app running on http://127.0.0.1:8050/

![](external.png)

In [14]:
app.run_server(mode='inline')

Dash is running on http://127.0.0.1:8050/